@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/kimberly-signature");
@import "@styles/common.scss";

// @include df_row(flex-end, center, 1rem, nowrap);
// @include position(absolute, 0, auto, auto, 0);
// @include position(relative, auto, auto, auto, auto);

.hero_section {
    width: 100%;
    min-height: 600px;
    padding: 0.5rem;
    margin-top: 3.2rem;
    margin-bottom: 2rem;
    background-color: transparent;
    @include df_row(center, flex-end, 2.5rem, wrap);
    // border: solid 1px var(--color-base-600);
    @include large-break {
        min-height: 1000px;
        @include df_column(flex-end, center, 3rem, wrap);
    }
    @include mid-break {
        @include df_column(flex-end, center, 2rem, wrap);
    }
    @include small-break {
        @include df_column(flex-end, center, 2rem, wrap);
    }
    @include extra-small-break {
        min-height: 1100px;
    }

    // border: solid 1px black;
    .hero_section_text {
        @include df_column(center, flex-start, 1rem, nowrap);
        // border: solid 1px black;
        // border: solid 1px var(--color-base-600);
        @include large-break {
            @include df_column(center, center, 1rem, nowrap);
        }

        .hero_name {
            // border: solid 1px var(--color-base-600);

            .hero_hii {
                font-size: 1.5rem;

                @include df_row(flex-end, center, 1rem, nowrap);

                @include position(relative, auto, auto, auto, auto);
                z-index: 10;

                p {
                    color: var(--color-base-500);
                    font-size: 5rem;
                }
                .hero_hii_im {
                    font-family: "Kimberly Signature", sans-serif;
                    font-size: 4rem;
                    font-weight: lighter;
                    color: var(--color-base-600);
                }
            }

            .hero_first_n {
                font-size: 7rem;
                font-family: "Kimberly Signature", sans-serif;
                font-weight: lighter;
                color: var(--color-base-900);
                @include position(relative, auto, auto, auto, auto);

                p {
                    @include position(relative, auto, auto, auto, auto);
                    z-index: 10;
                }

                @include extra-small-break {
                    font-size: 5rem;
                }
                @include small-break {
                    font-size: 6rem;
                }
            }

            .hero_last_n {
                font-size: 7rem;
                font-weight: lighter;
                color: var(--color-base-700);
                @include position(relative, auto, auto, auto, auto);
                z-index: 10;
                @include extra-small-break {
                    font-size: 4rem;
                }
                @include small-break {
                    font-size: 4.5rem;
                }

                p {
                }
            }
        }

        .hero_cription {
            // border: solid 1px black;
            @include df_column(flex-start, center, 1rem, nowrap);
            padding-left: 3rem;
            @include large-break {
                padding: 1rem;
            }
            .hero_res_con {
                width: 100%;
                // max-height: 30px;
                @include df_row(center, center, 1rem, nowrap);
                // border: solid 2px var(--color-base-200);
                .resume_btn_con {
                    width: fit-content;
                    border: solid 2px var(--color-base-800);
                    background-color: var(--color-base-800);
                    border-radius: var(--border-radius--);
                    padding: 0rem 0.6rem;
                    p {
                        color: var(--color-base-0);
                    }
                    &:hover {
                        background-color: transparent;
                        p {
                            color: var(--color-base-800);
                        }
                    }
                    // border: solid 2px var(--color-base-200);

                    .resume_button {
                        width: fit-content;
                        max-height: 23px;
                        @include df_row(center, center, 0.4rem, nowrap);
                        // border: solid 2px var(--color-base-200);
                    }
                }
                .contact_btn_con {
                    width: fit-content;
                    padding: 0rem 0.6rem;
                    border: solid 2px var(--color-base-800);
                    border-radius: var(--border-radius--);
                    p {
                        color: var(--color-base-800);
                    }
                    .contact_button {
                        max-height: 23px;
                        @include df_row(center, center, 0.4rem, nowrap);
                        // border: solid 2px var(--color-base-200);
                    }
                    &:hover {
                        background-color: var(--color-base-800);
                        p {
                            color: var(--color-base-0);
                        }
                    }
                }
                .hero_arrow {
                    font-family: "Kimberly Signature", sans-serif;
                    font-size: 2rem;

                    font-weight: lighter;
                    color: var(--color-base-800);
                }
            }

            .hero_text {
                width: 100%;
                max-width: 700px;
                // @include df_row(auto, auto, 0.4rem, nowrap);
                font-size: 1.2rem;
                line-height: 2rem;
                font-weight: 300;
                color: var(--color-base-800);
                text-align: center;
                // transform: translateX(-200px) translateY(0px);
                p {
                    text-overflow: wrap;
                }
                @include large-break {
                    text-align: center;
                }

                .text_sape_align_con {
                    float: left;

                    background-color: transparent;
                    width: 250px;
                    height: 200px;
                    border-radius: 26% 74% 72% 28% / 30% 62% 38% 70%;
                    // border: solid 2px var(--color-base-200);
                    -webkit-shape-outside: circle();
                    shape-outside: circle();
                }
                // @include extra-small-break {
                //     font-size: 1.1rem;
                //     max-width: 400px;
                //     text-align: center;
                // }
                // @include small-break {
                //     font-size: 1.1rem;
                //     max-width: 405px;
                //     text-align: center;
                // }
            }
        }
    }
    .hero_section_image {
        width: auto;
        // border: solid 1px var(--color-base-600);
        .placeholder {
            width: 100%;

            @include mid-break {
                display: none;
                height: auto;
            }
            @include small-break {
                display: none;
            }
            @include extra-small-break {
                display: none;
            }
        }

        .hero_image_con {
            @include position(relative, auto, auto, auto, auto);
            z-index: 10;
            width: 100%;
            &::before {
                content: "";
                @include position(absolute, 50%, auto, auto, 50%);
                transform: translateX(-50%) translateY(-50%);
                width: 280px;
                height: 340px;
                border-radius: 50%;
                background-color: transparent;
                z-index: -1;
                border-radius: 26% 74% 72% 28% / 30% 62% 38% 70%;
                border: solid 2px var(--color-base-700);
                transition:
                    transform 0.3s ease,
                    background-color 0.3s ease;
                   
            }
            &:hover::before {
                transition:
                transform 0.3s ease,
                background-color 0.3s ease;
            }

            .hero_image_con_ {
                width: 250px;
                height: 300px;
                content: url("/image/t_hero.jpg"); // Light mode image
                object-fit: cover;
                object-position: center;
                border-radius: 26% 74% 72% 28% / 30% 62% 38% 70%;
                overflow: hidden;

                filter: drop-shadow(2px 1px 8px rgba(0, 0, 0, 0.3));
                transition:
                    transform 0.3s ease,
                    filter 0.3s ease;

                &:hover {
                    transform: scale(1.04);
                    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
                }

                // Dark mode styling
                :root[data-theme="dark"] & {
                    content: url("/image/t_hero.jpg"); // Dark mode image

                    // Adjust background for the `::before` element in dark mode
                    .hero_image_con::before {
                        background-color: var(--color-base-800);
                    }
                }
            }
        }
    }
}
